<table id="pic-showdown">
  <%@favorites.each do |f| %> 
    <tr>
      <td>
      <a href='<%=f.image rescue '' %>'><img src='<%=f.image rescue '' %>' /></a>
      <%= f.title %>
      </td>
    </tr>
    <% end %> 
  </table>
