<h2>Welcome!</h2>

<p>This little app lets you participate in a photo contest.</p>
<p>You will choose 1 lucky winner from 16 photos.</p.<p> During the game, you are shown 1 pair of photos at a time. You click on the photo that you like best, and then another pair comes up. This keeps going until you complete a full round. At the end of the game you get to see which photo won. You can play as many times as you'd like.</p>
<p>The photos are obtained from flickr, with random tag words. You can also choose your own tags, by clicking "Start Game With Your Own Tags" above.</p><p>If you see a photo you like during the game, click "Add to Favorites". You can look at your favorites by clicking the "Favorite Pictures" link above. Then click the back button on your browser to continue choosing photos. </p>
<h2 style="text-align:center;"><%= link_to "Start Game",start_games_path %> </h2>
