

<% if !@game %>
<p>Doesnt seem to be a game going on</p>
<% elsif !@game_over %> 
  <div id='game-status'>Game in progress... round <%=@game[:round].to_s %> / <%=session[:game][:total_rounds].to_s%> choice <%=@game[:choice].to_s %> / <%=session[:chooses].to_s%></div>
  <%=raw "Tags used this contest: <b>#{@game.tags}</b>" if @game.tags %> 
  
  <div id="current-winners">
    <% if @leaderboard.size > 0 %>
      Winners thus far:<br/>
      <table class="current-winners">
          <%@leaderboard.each do |image| %>
          <tr>
            <td><%=image_tag(image['image']['url'])%> </td>
          </tr>
          <% end %>
      </table>
    <% end %> 
  </div>
  
  <p>Click the photo you like best:</p>
  <table id="pic-showdown">
    <tr>
      <td>
      <%= form_for Favorite.new, :remote=>true  do |f| %> 
          <%= f.text_field :image,:type=>:hidden, :value=>(@game[:images][@tup.first]['image']['url'] rescue 'no-url-provided') %> 
          <%= f.text_field :title,:type=>:hidden, :value=>(@game[:images][@tup.first]['image']['title'] rescue 'no title provided')%> 
          <%= f.submit "Add to Favorites" %> 
      <%end %>
      <%= link_to image_tag(@game[:images][ @tup.first ]['image']['url']) , play_games_path(:vote=>@tup.first), :method=>:post %>
      <%= (@game[:images][ @tup.first ]['image']['title'])%>
      </td>
      <td>
      <%= form_for Favorite.new, :remote=>true do |f| %> 
          <%= f.text_field :image,:type=>:hidden, :value=>@game[:images][@tup.last]['image']['url'] %> 
          <%= f.text_field :title,:type=>:hidden, :value=>@game[:images][@tup.last]['image']['title'] %> 
          <%= f.submit "Add to Favorites" %> 
      <%end %>
      <%= link_to image_tag(@game[:images][ @tup.last ]['image']['url']) , play_games_path(:vote=>@tup.last), :method=>:post  %>
      <%= (@game[:images][ @tup.last ]['image']['title'])%>
      </td>
    </tr>
  </table>

<% elsif @game_over %>
    <p>A winner has emerged:</p>
    <div style="text-align:center;margin:auto;">
    <%= image_tag @game_over['image']['url'] %> 
    <%= @game_over['image']['title'] %> 
    </div>
    <h4 style="margin:auto;"><%= link_to "Click here to play again",start_games_path %> </h4>

<% else  %>
    <%= link_to "Click here to start", start_games_path %> 
<% end %> 

<br/>

