<div>Here are some tags to choose from. They'll be used to pick the photos.</div> 

<% @possible_tags.each do |pt| %>
  <div style="display:inline;text-align:justify;">
  <%= form_for @game , :url=>submit_user_tag_game_path(@game),:html=>{:style=>"display:inline;", :method=>:post} , :remote=>true do |f|  %> 
    <% f.text_area :tags, :value=>pt.to_s, :type=>:hidden %>
    <% f.submit pt %> 
  <% end %> 
  </div>
<% end %>

<h6>Chosen tags:</h6>
<div id="chosen-tags">

</div>

<h2><%=link_to "Start Game", start_game_path(@game) %></h2>
