<!DOCTYPE html>
<html>
<head>
  <title>PhotoContest</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag  :defaults  %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="welcome-content">

  <h3 style="text-align:center;">Photo Choosing Contest</h3>
  <h5 style="text-align:center;">as implemented by David Heitzman</h5>
    
  <div class="navbar">
  <h6>
    <% if @game && !@game_over %> 
      <%= link_to "Home",root_url, :confirm=>"Are you sure? You'll lose the current game in progress." %> | 
      <%= link_to "Game Reset",start_games_path, :confirm=>"Are you sure? You'll lose the current game in progress." %> | 
      <%=link_to "Start Game With Your Own Tags", start_with_user_tags_games_path, :confirm=>"Are you sure? You'll lose the current game in progress." %> | 
      <%= link_to "View Favorites (#{Favorite.all.size})", favorites_path %> 
    <% else %> 
      <%= link_to "Home",root_url %> | 
      <%= link_to "Game Reset",start_games_path %> | 
      <%=link_to "Start Game With Your Own Tags",start_with_user_tags_games_path %> | 
      <%= link_to "View Favorites (#{Favorite.all.size})", favorites_path %> 
    <% end %> 
  </h6>
  </div>
  <%= yield %>
</div>
<div id='footer-content'>
  <div> 
  <p>Some debugging information for you:  Rails.env => <%= Rails.env %>  </p>
  <p>Some handy controls for the api:

   <%= link_to 'get_default_request'.humanize ,hit_api_games_path(:req=>'get_default_request')%>  
   <%= link_to 'get_images_request'.humanize ,hit_api_games_path(:req=>'get_images_request')%>  
   <%= link_to 'get_rounds_request'.humanize ,hit_api_games_path(:req=>'get_rounds_request')%>  
   <%= link_to 'get_round_request'.humanize ,hit_api_games_path(:req=>'get_round_request', :round=>(@game.round rescue 0) )%>  
   <%= link_to 'post_reset'.humanize ,hit_api_games_path(:req=>'post_reset')%>  
   <%= link_to 'post_done'.humanize ,hit_api_games_path(:req=>'post_done')%>  
   <%= link_to 'post_store_round_results'.humanize ,hit_api_games_path(:req=>'post_store_round_results')%>  
  </p>
  </div>
  <p>Issues: Occasional  500 after choosing a photo. I believe this is because of some photos not having a title or url, which I'll be debugging momentarily.  </p> 

  <p>Issues: Occasional  passenger error page. Refresh may fix. Dreamhost's rails support is generally spotty.  </p> 
</div>
</body>
</html>
